In [3]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [4]:
import random

In [5]:
filename = '../data/studentVle.csv'

In [6]:
dframe = pd.read_csv(filename, header=0, skiprows=lambda i: i > 0 and random.random() > 0.1)

In [7]:
dframe.describe()

         id_student       id_site          date     sum_click
count  1.065328e+06  1.065328e+06  1.065328e+06  1.065328e+06
mean   7.329551e+05  7.382254e+05  9.513054e+01  3.718206e+00
std    5.826296e+05  1.311497e+05  7.605864e+01  9.253215e+00
min    6.516000e+03  5.267210e+05 -2.500000e+01  1.000000e+00
25%    5.073590e+05  6.735190e+05  2.500000e+01  1.000000e+00
50%    5.882330e+05  7.300650e+05  8.600000e+01  2.000000e+00
75%    6.463610e+05  8.770300e+05  1.560000e+02  3.000000e+00
max    2.698588e+06  1.046866e+06  2.690000e+02  4.953000e+03

In [22]:
dframe.head()

  code_module code_presentation  id_student  id_site  date  sum_click
0         AAA             2013J       30268   546652   -10          2
1         AAA             2013J       31604   547013   -10          5
2         AAA             2013J       32885   546681   -10          5
3         AAA             2013J       32885   546614   -10         13
4         AAA             2013J       32885   546871   -10          1

In [8]:
dframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1066498 entries, 0 to 1066497
Data columns (total 6 columns):
code_module          1066498 non-null object
code_presentation    1066498 non-null object
id_student           1066498 non-null int64
id_site              1066498 non-null int64
date                 1066498 non-null int64
sum_click            1066498 non-null int64
dtypes: int64(4), object(2)
memory usage: 48.8+ MB

In [24]:
dframe.to_csv('../data/studentVle2.csv')